body {
	/*background-color: black;*/
	background-color: #42c8f4;
	font-family: 'Rubik', sans-serif;
}

.btn-login {
	width: 100%;
}

.btn-register {
	width: 100%;
}

.btn-submit {
	width:100%;
}
.btn-thumbnail {
	width: 100%;
}

.jumbotron-custom {
	background-color: white;
}

.msg-error {
	color: red;
	font-style: italic;
}
