body {
	/*background-color: black;*/
	background-color: #42c8f4;
	font-family: 'Rubik', sans-serif;
}

div.post-area {
	margin-top: 70px;
	/*max-height: 500px;*/
	/*overflow: scroll;*/
}

.btn-login {
	width: 100%;
}

.btn-register {
	width: 100%;
}

.btn-submit {
	width:100%;
}
.btn-thumbnail {
	width: 100%;
}

.jumbotron-custom {
	background-color: white;
}

.msg-error {
	color: red;
	font-style: italic;
}
